# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("Resourses/WeatherPy_database.csv")
city_data_df.head()
# Display sample data

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Faya,SA,18.3851,42.4509,50.52,58,1,2.66,clear sky,2022-11-17 00:14:46
1,1,Kieta,PG,-6.2167,155.6333,85.24,61,100,4.12,overcast clouds,2022-11-17 00:14:46
2,2,Constantine,DZ,36.3650,6.6147,60.21,77,75,5.75,broken clouds,2022-11-17 00:14:47
3,3,Ushuaia,AR,-54.8000,-68.3000,49.66,62,75,2.30,broken clouds,2022-11-17 00:13:40
4,4,Hasaki,JP,35.7333,140.8333,54.28,61,43,17.69,scattered clouds,2022-11-17 00:14:47

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp =float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Kieta,PG,-6.2167,155.6333,85.24,61,100,4.12,overcast clouds,2022-11-17 00:14:46
6,6,Atuona,PF,-9.8000,-139.0333,78.10,76,3,14.74,clear sky,2022-11-17 00:14:48
9,9,Rikitea,PF,-23.1203,-134.9692,72.95,90,100,26.06,heavy intensity rain,2022-11-17 00:10:39
11,11,Saint-Leu,RE,-21.1500,55.2833,70.63,66,9,3.06,clear sky,2022-11-17 00:14:49
15,15,Lompoc,US,34.6391,-120.4579,71.74,30,0,3.00,clear sky,2022-11-17 00:13:35
21,21,Hilo,US,19.7297,-155.0900,82.26,85,100,5.75,haze,2022-11-17 00:10:35
23,23,Butaritari,KI,3.0707,172.7902,81.01,74,69,18.75,broken clouds,2022-11-17 00:14:53
25,25,Auki,SB,-8.7676,160.7034,83.46,75,96,1.99,overcast clouds,2022-11-17 00:14:53
26,26,Bathsheba,BB,13.2167,-59.5167,81.21,83,40,13.80,scattered clouds,2022-11-17 00:14:53
29,29,Bandar-E Lengeh,IR,26.5579,54.8807,78.67,67,4,6.98,clear sky,2022-11-17 00:14:54

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Kieta,PG,-6.2167,155.6333,85.24,61,100,4.12,overcast clouds,2022-11-17 00:14:46
6,6,Atuona,PF,-9.8000,-139.0333,78.10,76,3,14.74,clear sky,2022-11-17 00:14:48
9,9,Rikitea,PF,-23.1203,-134.9692,72.95,90,100,26.06,heavy intensity rain,2022-11-17 00:10:39
11,11,Saint-Leu,RE,-21.1500,55.2833,70.63,66,9,3.06,clear sky,2022-11-17 00:14:49
15,15,Lompoc,US,34.6391,-120.4579,71.74,30,0,3.00,clear sky,2022-11-17 00:13:35
21,21,Hilo,US,19.7297,-155.0900,82.26,85,100,5.75,haze,2022-11-17 00:10:35
23,23,Butaritari,KI,3.0707,172.7902,81.01,74,69,18.75,broken clouds,2022-11-17 00:14:53
25,25,Auki,SB,-8.7676,160.7034,83.46,75,96,1.99,overcast clouds,2022-11-17 00:14:53
26,26,Bathsheba,BB,13.2167,-59.5167,81.21,83,40,13.80,scattered clouds,2022-11-17 00:14:53
29,29,Bandar-E Lengeh,IR,26.5579,54.8807,78.67,67,4,6.98,clear sky,2022-11-17 00:14:54

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp   Current Description      Lat       Lng
1             Kieta      PG     85.24       overcast clouds  -6.2167  155.6333
6            Atuona      PF     78.10             clear sky  -9.8000 -139.0333
9           Rikitea      PF     72.95  heavy intensity rain -23.1203 -134.9692
11        Saint-Leu      RE     70.63             clear sky -21.1500   55.2833
15           Lompoc      US     71.74             clear sky  34.6391 -120.4579
21             Hilo      US     82.26                  haze  19.7297 -155.0900
23       Butaritari      KI     81.01         broken clouds   3.0707  172.7902
25             Auki      SB     83.46       overcast clouds  -8.7676  160.7034
26        Bathsheba      BB     81.21      scattered clouds  13.2167  -59.5167
29  Bandar-E Lengeh      IR     78.67             clear sky  26.5579   54.8807

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kieta,PG,85.24,overcast clouds,-6.2167,155.6333,
6,Atuona,PF,78.10,clear sky,-9.8000,-139.0333,
9,Rikitea,PF,72.95,heavy intensity rain,-23.1203,-134.9692,
11,Saint-Leu,RE,70.63,clear sky,-21.1500,55.2833,
15,Lompoc,US,71.74,clear sky,34.6391,-120.4579,
21,Hilo,US,82.26,haze,19.7297,-155.0900,
23,Butaritari,KI,81.01,broken clouds,3.0707,172.7902,
25,Auki,SB,83.46,overcast clouds,-8.7676,160.7034,
26,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
29,Bandar-E Lengeh,IR,78.67,clear sky,26.5579,54.8807,

In [8]:
len(hotel_df)

225

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "types" : "hotel",
    "key": g_key
    }

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    
    # Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kieta,PG,85.24,overcast clouds,-6.2167,155.6333,Kieta
6,Atuona,PF,78.10,clear sky,-9.8000,-139.0333,Atuona
9,Rikitea,PF,72.95,heavy intensity rain,-23.1203,-134.9692,Rikitea
11,Saint-Leu,RE,70.63,clear sky,-21.1500,55.2833,Saint-Paul
15,Lompoc,US,71.74,clear sky,34.6391,-120.4579,Lompoc

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kieta,PG,85.24,overcast clouds,-6.2167,155.6333,Kieta
6,Atuona,PF,78.10,clear sky,-9.8000,-139.0333,Atuona
9,Rikitea,PF,72.95,heavy intensity rain,-23.1203,-134.9692,Rikitea
11,Saint-Leu,RE,70.63,clear sky,-21.1500,55.2833,Saint-Paul
15,Lompoc,US,71.74,clear sky,34.6391,-120.4579,Lompoc
21,Hilo,US,82.26,haze,19.7297,-155.0900,Hilo
23,Butaritari,KI,81.01,broken clouds,3.0707,172.7902,Ukiangang
25,Auki,SB,83.46,overcast clouds,-8.7676,160.7034,Auki
26,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,Wilson Hill
29,Bandar-E Lengeh,IR,78.67,clear sky,26.5579,54.8807,Bandar-e Lengeh

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [15]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [23]:
# Review the formatting template provided
info_box_template = """
Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Description
{Current Description}

Max Temp
{Max Temp} °F


"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [24]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\nHotel Name\nKieta\n\nCity\nKieta\nCountry\nPG\nCurrent Description\novercast clouds\n\nMax Temp\n85.24 °F\n\n\n',
 '\nHotel Name\nAtuona\n\nCity\nAtuona\nCountry\nPF\nCurrent Description\nclear sky\n\nMax Temp\n78.1 °F\n\n\n',
 '\nHotel Name\nRikitea\n\nCity\nRikitea\nCountry\nPF\nCurrent Description\nheavy intensity rain\n\nMax Temp\n72.95 °F\n\n\n',
 '\nHotel Name\nSaint-Paul\n\nCity\nSaint-Leu\nCountry\nRE\nCurrent Description\nclear sky\n\nMax Temp\n70.63 °F\n\n\n',
 '\nHotel Name\nLompoc\n\nCity\nLompoc\nCountry\nUS\nCurrent Description\nclear sky\n\nMax Temp\n71.74 °F\n\n\n',
 '\nHotel Name\nHilo\n\nCity\nHilo\nCountry\nUS\nCurrent Description\nhaze\n\nMax Temp\n82.26 °F\n\n\n',
 '\nHotel Name\nUkiangang\n\nCity\nButaritari\nCountry\nKI\nCurrent Description\nbroken clouds\n\nMax Temp\n81.01 °F\n\n\n',
 '\nHotel Name\nAuki\n\nCity\nAuki\nCountry\nSB\nCurrent Description\novercast clouds\n\nMax Temp\n83.46 °F\n\n\n',
 '\nHotel Name\nWilson Hill\n\nCity\nBathsheba\nCountry\nBB\nCurrent Description\nscattered clouds\n\nMax Temp\n81.21 °F\n\n\n',
 '\nHotel Name\nBandar-e Lengeh\n\nCity\nBandar-E Lengeh\nCountry\nIR\nCurrent Description\nclear sky\n\nMax Temp\n78.67 °F\n\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [26]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -6.2167  155.6333
6   -9.8000 -139.0333
9  -23.1203 -134.9692
11 -21.1500   55.2833
15  34.6391 -120.4579
21  19.7297 -155.0900
23   3.0707  172.7902
25  -8.7676  160.7034
26  13.2167  -59.5167
29  26.5579   54.8807

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [29]:
# Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Create a figure to add the Google map as a layer
fig

# Display the figure containing the map

Figure(layout=FigureLayout(height='420px'))